
body{
    background: #fff;
    color: white;
    font-size: 90%;
    margin: 0px;
}

.about-TL { grid-area: about;}
.spec { grid-area: spec; }
.footer {grid-area: footer;}

.container1{
    background: #304d5a;
    display: grid;
    grid-template-areas: 
    'about spec'
    'about spec'
    'about spec'
    'about spec'
    'footer footer';
    grid-auto-columns: 320px 450px;
    grid-auto-rows: 90px 90px 90px 90px;
}
.about-TL{
    margin: 40px 10px 0px 30px;
    border-right: 3px solid #6bcea8;
}
.logo >img{
    margin: -30px 0 10px 0;
    width: 80%;
}
.about-TL> .teaLinux{
    line-height: 30px;
}
.teaLinux{
    text-align: center;
    margin: 0px 0 0 -10px;
}
.teaLinux > span{
    font-size: 130%;
    font-weight: bold;
}
.teaLinux > sup{
    font-size: 100%;
}
.teaLinux a{
    color: #6bcea8;
}
.container1 > .spec{
    text-align: center;
    margin: 35px 0 0 30px;
    width: 385px;
}
.spec > h2{
    text-align: center;
}
table{
    margin: 20px 0 0 0px;
}
table,tr{
    height: 45px;
}
.footer{
width: 80%;
}
button{
    font-size: 95%;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    font-weight: bold;
    background:#4bbb90;
    border: 2px solid #1f3d4d;
}
button>a{
    text-decoration: none;
    color: #fff;
}
button:hover{
    cursor: pointer;
    background: #19aaa3;
}
#button{
    position: relative;
    left: 100px;
    bottom: -20px;
}
#button1{
    position: relative;
    left: 260px;
    bottom: -20px;
}
#button2{
    position: relative;
    left: 300px;
    bottom: -20px;
}
